*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	font-family: 'Lato', sans-serif;
	font-family: 'Poppins', sans-serif;
	font-size: 62.5%;
}

body {
	background-image: linear-gradient(to right bottom, #45aaf2, #cfdbe2);
	line-height: 1.6;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}

header h1 {
	text-transform: uppercase;
	font-size: 2.5rem;
	letter-spacing: 1.6px;
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40vw;
}

input {
	border: 1px solid #ffffffa8;
	background: #89cfe657;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
}

button {
	border: 1px solid #ffffffa8;
	background: #89cfe657;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0 10px 10px;
	color: #fff;
	font-weight: bold;
}

#greeting {
	font-size: 20px;
	font-style: italic;
}

.todo-item {
	padding: 10px;
	padding-right: 10px;
	display: flex;
	background-color: #ffffffab;
	color: #000;
	justify-content: space-between;
	font-size: 1.5rem;
	align-items: center;
	margin-top: 1rem;
	border-radius: 10px;
	gap: 8px;

	span {
		flex-grow: 1;
		text-align: left;
	}
}

.todo-item *:hover {
	text-decoration: underline;
}

.todo-item button {
	margin: 0;
}

.hidden { display: none;
}

#clock {
	font-size: 50px;
}

.github {
	position: fixed;
	left: 20px;
	bottom: 20px;
	width: 30px;
	aspect-ratio: 1;
	border-radius: 30px;
	background-color: blueviolet;
	display: flex;
	align-items: center;
	color: #fff;
	justify-content: center;
	text-decoration: none;
}